.NavItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    align-items: center;
    width:100%;

}

.NavItem a {
    color:#ababab;
    text-decoration:none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}


.NavItem a:hover,
.NavItem a:active,
.NavItem a.active{
    color: white;
}
@media (min-width: 500px){
    .NavItem{
        margin: 0;
        display: flex;
        align-items: center;
        height :100%;
        width:auto;
        padding: 0 20px;
    }
    .NavItem a {
        color:#ababab;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        font-size: 1.4rem;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active{
        text-decoration: underline;
        z-index: 50;
        font-size: 1.5rem;   
        /* border-bottom: 4px solid #677980; */
        color: white;
    }

}