$highlightPink :#e31b6d;
.skill-wrapper {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;


    
    .content{
        display: flex;
        justify-content:center;
        z-index: 20;
        @media screen and (max-width:599px) {
            flex-direction: column;

            .skill-bars, .skill-cards{
                width: 100%;
            }
            
        }
       
        .skill-cards{
            width: 50%;
            padding:  2rem ;

            display:flex;
            justify-content:center;
            flex-wrap: wrap;

            .card{
                margin: 1rem;
                height: 200px;
                border:none;
                width: 200px;
                background-color:transparent;
                



                .card-content{
                    margin: auto;
                    padding: 1rem;
                    width: 100%;
                    height: 100%;
                    max-width: 50vw;
                    max-height: 50vh;
                    border-radius: 0.8rem;
                    // border:1px solid rgb(114, 115, 135);
                    background-color:rgba(114, 115, 135, 0.2);
                    // background-color:#626D58;
                    text-align: center;
                    
                    display: flex;
                    flex-direction: column;
                    align-content: center;

                    
                    p{
                        width: 80%;
                        margin: auto;
                        word-wrap: wrap;
                        color:white
                    }
                    
                }
                @media screen and (min-width:1200px) {
                    width:220px;
                    height: 220px;
                    
                }
                @media screen and (max-width:880px) {
                    width:140px;
                    height: 140px;
                    
                }
                @media screen and (max-width:599px) {
                    width:150px;
                    height: 150px;

                .card-content p{
                    font-size:0.6rem
                    
                }
                    
                }
                @media screen and (max-width:420px) {
                    width: 100px;
                    height: 100px;
                    
                }


            }

        }
        .skill-bars{

            display: flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            width: 100%;
            
           
            .skillSection{
                min-width: 250px;
                // max-height: 450px;
                margin-top: 1rem;
                margin: 0 1rem;
                
                .heading{
                    font-size: 1.5rem;
                    padding:1rem;
                    border-bottom: 1px solid rgba(114, 115, 135, 0.2);
                    
                    color: #77966D;
                    text-align: start;
                    
                }

                ul{
                    
                    list-style: none;
                    text-align: start;
                    padding:1rem;
                    display: flex;
                    flex-wrap: wrap;
                   
                    li{
                        span{
                            margin-right: 0.8rem;
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }
                        font-size:1rem;
                        color:white;
                        padding: 8px 12px;
                        // padding-right: 12px;
                        
                        margin: 1rem 1rem 0 0;
                        border: 1px solid rgba(114, 115, 135, 0.5);
                        border-radius: 0.5rem;

                        
                    }
                }
            }
            
        }
        @media screen and (min-width:760px) {
            max-width: 60vw;
            
        }

   
        @media screen and (max-width:599px) {
            flex-direction: column;

            .skill-bars, .skill-cards{
                width: 100%;
            }
            
        }

    }
}